<!doctype html>
<html>
    <head>
        <title>Odds</title>
    </head>
    <body>
        <h1>The odds to reach destination: <%= odds %>%</h1>
        <a href="/">Try another empire file.</a>
    </body>
</html>

