<!doctype html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <form action="/upload" enctype="multipart/form-data" method="post">
            <div>The Empire file: <input type="file" name="bouncyHunters" /></div>
            <input type="submit" value="Upload" />
        </form>
    </body>
</html>
